.feedback
  %h3 Awesome! Use the form below to add feedback about your helper.
  .form
    = form_for @feedback, url: user_feedback_path(@task.assignee.user, @feedback) do |f|
      %div
        = f.text_area :text
      %div= f.submit "Submit", class: 'button signup-button'
      %div.nope
        = link_to 'No thanks', root_path, class: 'button signup-button no-padding'