.intro
  %ul.stages
    %li.current-step
      %span.number.h3
        1
      %span.detail.h3
        Learn
    %li.inactive-step
      %span.number.h3
        2
      %span.detail.h3
        Connect
    %li.inactive-step
      %span.number.h3
        3
      %span.detail.h3
        Share