.content
  .landing
    .text
      %h3 Making the world a better place, one favor at a time.
      %p
        = link_to 'Sign up', root_path, class: 'button'
  .recent-tasks
    = render partial: 'tasks/summary', collection: @recent_tasks, locals: { gravatar_size: '40'}





