.nav-bg
  %nav
    .title
      = link_to 'Goodcode', root_path
    %ul
      %li
        = link_to 'Contact', root_path
      %li
        = link_to 'About', root_path
.content
  .landing
    .text
      %h1 Change the world with code.
      %p Work on software projects with serious impact.
  %section.details
    %h1 The GoodCode Fellowship


