development:
  adapter: postgis
  encoding: unicode
  postgis_extension: postgis
  schema_search_path: '"$user", public, postgis'
  database: nicely_development
  host: localhost
  pool: 5
  username: micahlerner
  password:
  su_username: micahlerner
  password:

test: &TEST
  adapter: postgis
  encoding: unicode
  postgis_extension: postgis
  schema_search_path: '"$user", public, postgis'
  database: nicely_test
  host: localhost
  pool: 5
  username: micahlerner
  password:
  su_username: micahlerner
  password:

production: &production
  adapter: postgis
  encoding: unicode
  postgis_extension: postgis
  schema_search_path: '"$user", public, postgis'
  database: <%=ENV['OPENSHIFT_APP_NAME']%>
  username: <%=ENV['OPENSHIFT_POSTGRESQL_DB_USERNAME']%>
  password: <%=ENV['OPENSHIFT_POSTGRESQL_DB_PASSWORD']%>
  host: <%=ENV['OPENSHIFT_POSTGRESQL_DB_HOST']%>
  port: <%=ENV['OPENSHIFT_POSTGRESQL_DB_PORT']%>
  pool: 5

defaults: &defaults
  pool: 5
  timeout: 5000
  encoding: utf8
  <<: <%= ENV['RAILS_DB']%>

cucumber:
  <<: *TEST