// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "susy"
@import "global"

body
  background: $white

.bold-links
  line-height: 40px
  font-size: 20px
  color: $good-color
  text-decoration: none
  font-style: italic
  font-family: "NHaasGroteskDSW01-65Md", sans-serif
  position: relative
  display: inline-block
  margin: 0px 25px
  outline: none
  text-shadow: 0 0 1px rgba(255,255,255,0.3)
  font-size: 1.35em

nav
  a:focus::after, a:hover::after
    opacity: 1
    -webkit-transform: translateY(0px)
    -moz-transform: translateY(0px)
    transform: translateY(0px)
  a::after
    position: absolute
    top: 100%
    left: 0
    width: 100%
    height: 4px
    background: $good-color
    content: ''
    opacity: 0
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s
    -moz-transition: opacity 0.3s, -moz-transform 0.3s
    transition: opacity 0.3s, transform 0.3s
    -webkit-transform: translateY(10px)
    -moz-transform: translateY(10px)
    transform: translateY(10px)

.logo
  font-family: "NHaasGroteskDSW01-65Md", sans-serif
  font-size: 30px
  color: $good-color
  letter-spacing: 0
  line-height: 40px
  text-decoration: none
  &:hover
    color: #ffffff

.white
  color: $white

.page
  height: 100%
  header, footer
    clear: both
  nav.nav-bg
    background: #ffffff
    @include container
    .centered-title
      @include span-columns(12,12)
      @include squish(4,4)
      h3
        color: $good-color
    .title
      @include span-columns(3,12)
      padding: 20px 0px
    ul
      @include span-columns(6 omega,9)
      padding-top: 7.5px
      li
        float: right
        text-align: left
        display: inline-block
  .devise
    @include container
    padding-top: 50px
    .centered-form
      @include span-columns(4,12)
      @include squish(4,4)
      background-color: $white
      color: $good-color
      border: 1px solid $good-color
      padding: 30px
      border-radius: 3px
      h3
        text-align: center
  .form
    background-color: $good-color
    height: 795px
    .page-form
      @include container
      padding-top: 20px
      .form-contents
        .text
          background-color: $white
          padding: 20px
          @include span-columns(5,12)
        #map_container
          @include span-columns(6 omega,12)
          background-color: $white
          position: fixed
          #map_canvas
            height: 450px
            margin: 20px
        color: $good-color
        h3
          text-align: center


  .content
    .landing
      background: $good-color
      .text
        @include container
        padding-top: 2%
        text-align: center
        height: 150px
        p
          font-size: 24px
          font-weight: 400


    // main content spans 6 of those 9 columns.
    .main
      @include span-columns(6,9)

    // secondary content spans the final 3 (omega) of 9 columns.
    .secondary
      @include span-columns(3 omega,9)

.pac-item
  color: $good-color
@media screen and (max-width: 480px)
  .nav-links
    display: none !important

