%html{ xmlns: "http://www.w3.org/TR/html5", "xmlns:og" => "http://opengraphprotocol.org/schema/", "xmlns:fb" => "http://www.facebook.com/2008/fbml", lang: 'en'}
  = render partial: 'layouts/header'
  %body
    .page
      - if devise_view?
        = render partial: 'layouts/devise'
      - else
        = render partial: 'pages/body_content'


    - content_for?(:footer) ? yield(:footer) : render(:partial => 'pages/footer')
